{% extends '_base.html.twig' %}

{# ------------------------------------------------- #}
{% block pageTitle %}HOME PAGE{% endblock %}

{# ------------------------------------------------- #}
{% block aboutLinkStyle %}current_page{% endblock %}

{# ------------------------------------------------- #}
{% block main %}

<div id = "column_container">
    <section>

        <div class= "flex1">
            <h2> Welcome to the Student CV site. Please navigate to the appropriate page above</h2>
        </div>

    </section>
</div>

{% endblock %}